<h1>Welcome to the Mooks & Minions page!</h1>
<p>
    This page has been created to store Star Wars Saga Edition NPCs, for easy reference. If your GM sent you here, you
    probably want to head over to the <a href="/add">add minion</a> page. If not, then simply enjoy the site!
</p>

<h2>Latest Additions:</h2>
<ul>
    <li>1/2/11 - <i>Some Mook</i></li>
    <li>1/2/11 - <i>Some Mook</i></li>
    <li>1/1/11 - <i>Some Mook</i></li>
    <li>1/1/11 - <i>Some Mook</i></li>
    <li>1/1/11 - <i>Some Mook</i></li>
</ul>