.mook {
    max-width: 400px;
    margin: 10px 0;

    header {
        font-size: 20px;
        background-color: #616161;
        border-radius: 4px;
        padding: 2px 5px;
        color: white;

        .name {
            display: block;
            font-weight: bold;
        }

        .cl {
            float: right;
        }

        .type {
            font-size: 14px;
            font-style: italic;
            display: block;
        }
    }
}