.logo {
  float: left;
  width: 32px;
  margin-top: -9px;
  margin-right: 5px;
}
.kvp-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}
.kvp-list .kvp-container {
  padding-left: 30px;
  padding-right: 30px;
}
.kvp-list .kvp-close {
  margin-top: -15px;
  text-align: right;
}
.kvp-list .kvp-close:hover {
  color: #999;
}
.kvp-list .kvp-item {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 5px;
  padding-top: 20px;
  margin-bottom: 5px;
}
.kvp-list .kvp-item .form-group {
  margin-top: 5px;
}
.kvp-list .add-line {
  text-align: right;
}
