.logo {
  float: left;
  width: 32px;
  margin-top: -9px;
  margin-right: 5px;
}
.mook-panel {
  vertical-align: top;
  display: inline-block;
  width: 430px;
  margin-top: 5px;
}
.mook-panel + .mook-panel {
  margin-left: 10px;
}
.mook-list {
  position: absolute;
  left: 10px;
  right: 10px;
}
.dice-roller .right-column,
.dice-roller .left-column {
  vertical-align: top;
  display: inline-block;
  min-width: 49%;
}
.dice-roller .notes {
  min-height: 282px;
  font-family: monospace;
  font-size: 8pt;
}
.dice-roller .history {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
  height: 150px;
  padding: 6px;
}
.dice-roller .history .roll {
  padding: 2px;
  font-size: .95em;
}
.dice-roller .history .roll + .roll {
  border-top: 1px solid #efefef;
}
.dice-roller .history .roll .title {
  color: #aaa;
}
.dice-roller .history .roll .results {
  margin-left: 10px;
}
.dice-roller .free-form {
  display: inline-block;
  margin-top: 10px;
}
.dice-roller .free-form input[type="number"] {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 4px;
}
.kvp-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}
.kvp-list .kvp-container {
  padding-left: 30px;
  padding-right: 30px;
}
.kvp-list .kvp-close {
  margin-top: -15px;
  text-align: right;
}
.kvp-list .kvp-close:hover {
  color: #999;
}
.kvp-list .kvp-item {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 5px;
  padding-top: 20px;
  margin-bottom: 5px;
}
.kvp-list .kvp-item .form-group {
  margin-top: 5px;
}
.kvp-list .add-line {
  text-align: right;
}
